/*these two lines will import the entire bootstrap library
  when placed in this file (manually created) it allows all controllers to use bootstrap*/

@import "bootstrap-sprockets";
@import "bootstrap";
 
 /* Universal (copied from Rails tutorial listing 5.7) */

/*
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
*/